body {
    font-family: "Verdana", sans-serif;
}

.container {
    width: 800px;
    margin: 0 auto;
    display: flex; /*dziala tylko do 1 potomstwa. Przydatne i warto przypomniec.*/
}

/* LOGO */
.logo {
    width: 100%;
    background-color: black;
    height: 55px;
}

.logo__left {
    padding-top: 18px;
    color: white;
    width: 20%;
    font-size: 20px;
    font-weight: 700;
}

.logo__right-ul {
    padding-top: 18px;
    color: white;
    width: 80%;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: flex-end; /*fajnie to skumalem :D! Wiem czemu tu tez display flex ma byc.*/
}

.logo__right-ul ul li {
    display: inline-block;
    font-size: 18px;
    padding: 0 0 0 20px;
}

/* MAIN OFFER */
.offer {
    background: linear-gradient(white, #ddd);
    min-height: 500px;
}

.offer__left {
    padding-top: 120px;
    width: 55%;
}

.offer__right {
    padding-top: 150px;
    width: 45%;
    text-align: center;
}

/* 3x SLIDES */
.slides {
    margin: 20px auto 40px auto;
}

.slides > .container {
    display: flex;
    justify-content: space-around;
}

.slides > .container > article {
    width: 32%;
}

/* PRICE LIST */
.price {
    background-color: lavender;
    width: 100%;
    min-height: 500px;
}

h3 {
    padding-top: 30px;
    padding-bottom: 50px;
    width: 800px;
    margin: 0 auto;
}

.price__line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.price__box {
    border: 1px solid black;
    height: 350px;
    width: 30%;
}